<p-table
    #table
    class="max-h-inherit"
    [styleClass]="'py-5 max-h-inherit p-datatable-striped'"
    [value]="patientData ?? []"
    [dataKey]="'id'"
    [scrollable]="true"
    [scrollHeight]="'flex'"
    [rowHover]="true"
    [rowsPerPageOptions]="pagerOptions"
    [loading]="tableDataLoading ?? false"
    [paginator]="true"
    [rows]="initialRows"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [globalFilterFields]="filterableFields"
    (selectionChange)="onSelectionChange($event)"
    [selectionMode]="'multiple'"
>
    <ng-template [pTemplate]="'caption'">
        <div class="d-flex">
            <span class="p-input-icon-left ms-auto">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    #globalInput
                    type="text"
                    placeholder="Search By Name"
                    (input)="table.filterGlobal(globalInput.value, 'contains')"
                />
            </span>
        </div>
    </ng-template>
    <ng-template [pTemplate]="'header'">
        <tr>
            <th class="row-height action-col-width text-center" pFrozenColumn>
                <p-tableHeaderCheckbox *ngIf="multiselectMode; else actions"></p-tableHeaderCheckbox>
                <ng-template #actions>Actions</ng-template>
            </th>
            <th *ngFor="let descriptor of dataColumnDescriptors" [pSortableColumn]="descriptor.field">
                {{ descriptor.label }}
                <p-sortIcon [field]="descriptor.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template [pTemplate]="'body'" let-patient>
        <tr class="p-selectable-row row-height">
            <td class="text-center" pFrozenColumn>
                <rt1-patient-grid-actions
                    (edit)="onEdit(patient)"
                    (delete)="onDelete(patient)"
                    [multiSelectMode]="multiselectMode"
                    [checkboxValue]="patient"
                >
                </rt1-patient-grid-actions>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template [pTemplate]="'input'">
                        <input pInputText type="text" [(ngModel)]="patient.firstName" />
                    </ng-template>
                    <ng-template [pTemplate]="'output'">
                        {{ patient.firstName }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template [pTemplate]="'input'">
                        <input pInputText type="text" [(ngModel)]="patient.lastName" />
                    </ng-template>
                    <ng-template [pTemplate]="'output'">
                        {{ patient.lastName }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template [pTemplate]="'input'">
                        <input pInputText type="text" [(ngModel)]="patient.birthday" />
                    </ng-template>
                    <ng-template [pTemplate]="'output'">
                        {{ patient.birthday | date: 'shortDate' }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template [pTemplate]="'input'">
                        <input pInputText type="text" [(ngModel)]="patient.gender.label" />
                    </ng-template>
                    <ng-template [pTemplate]="'output'">
                        {{ patient.gender.label }}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
    <ng-template [pTemplate]="'emptymessage'">
        <tr>
            <td class="text-center" colspan="5">
                No Patients currently in system. Upload a file to get started! (Or your filter did not match)
            </td>
        </tr>
    </ng-template>
</p-table>
