@import 'sizes';

$header-height: 4em;
$footer-height: 4em;

.multiselect-header {
    margin-bottom: -1.1em;
    height: $header-height;
}

.grid-display {
    height: calc(100vh - #{$header-height} - #{$footer-height} - #{$main-header-height});
}

.bulk-action-footer {
    margin-top: -1.1em;
    height: $footer-height;
}
