$rt1-header: #32b1e4 !default;

$green100: #c9ebd7 !default;
$green200: #93d6af !default;
$green300: #27ae60 !default;
$green400: #219451 !default;
$green500: #186e3c !default;

$gray100: #f8f9fa !default;
$gray200: #e9ecef !default;
$gray300: #ced4da !default;
$gray400: #6c757d !default;
$gray500: #212529 !default;

$red100: #f1aeb5 !default;
$red200: #e6717c !default;
$red300: #dc3545 !default;
$red400: #9c2531 !default;
$red500: #5c161d !default;
